<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PIM.Server</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/taenkeboksCards.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PIM.Server</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="NewGame">New Game</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - PIM.Server
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/underscore.js/underscore-min.js"></script>
    <script src="~/lib/jsonform/jsonform.min.js"></script>
    <script src="~/lib/jsonform/jsv.js"></script>
    <script src="~/js/newgame.js" asp-append-version="true"></script>
    @*<script src="~/lib/jsonform/jquery-ui.js"></script>
        <script src="~/lib/jsonform/bootstrap-dropdown.js"></script>
        <script src="~/lib/jsonform/bootstrap-wysihtml5.js"></script>
        <script src="~/lib/jsonform/spectrum.js"></script>
        <script src="~/lib/jsonform/ace/ace.js"></script>
        <script src="~/lib/jsonform/ace/mode-json.js"></script>
        <script src="~/lib/jsonform/ace/mode-html.js"></script>
        <script src="~/lib/jsonform/ace/mode-css.js"></script>
        <script src="~/lib/jsonform/ace/mode-javascript.js"></script>
        <script src="~/lib/jsonform/ace/mode-less.js"></script>
        <script src="~/lib/jsonform/ace/mode-markdown.js"></script>
        <script src="~/lib/jsonform/jquery.transloadit2.js"></script>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
