@{
    ViewData["Title"] = "Home";
}

<h1>@ViewData["Title"]</h1>


<input type="button" class="btn btn-primary " id="createGameButton" value="Create Game">
<input type="button" class="btn btn-primary " id="startGameButton" value="Start Game">



@section scripts {
    <script type="text/javascript">
        function startGame() {
            $.ajax({
                type: 'POST',
                accepts: 'application/json',
                url: "/api/default",
                contentType: 'application/json',
                data: "{}",
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("error creating game: " + errorThrown);
                },
                success: function (newGameID) {
                    window.location.href = "/taenkeboks/" + newGameID;
                }
            });
        }
        function createGame() {
            window.location.href = "/home/newgame/";
        }
        $(document).ready(function () {
            $('#createGameButton').click(createGame);
            $('#startGameButton').click(startGame);
        });
    </script>
}