@{
    ViewData["Title"] = "New game";
}
<h1>@ViewData["Title"]</h1>

<form id="newGameForm"></form>



@section scripts {
    <script src="~/lib/underscore.js/underscore-min.js"></script>
    <script src="~/lib/jsonform/jsonform.min.js"></script>
    <script src="~/lib/jsonform/jsv.js"></script>
    <script src="~/js/newgame.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            render($('#newGameForm'))
            $('#newGameForm').submit(()=>false)
            addPlayer()
        });

        $(window).on('beforeunload', function ()
        {
            removePlayer()
            return false;
        });
    </script>
}
