@{
    ViewData["Title"] = "Tænkeboks";
}
<div hidden id="gameID">@ViewData["GameId"]</div>
<div id="display"></div>

@section scripts {
    <script src="~/js/dice.js"></script>
    <script src="~/js/cards.js"></script>
    <script src="~/js/taenkeboksElements.js"></script>
    <script src="~/js/taenkeboksGame.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var gameId = $('#gameID').text()
            var eDisplay = $('#display')
            var game = new TbGame(gameId, eDisplay);
            game.render();
        });
    </script>
}
