@page "{id:int}"
@model PIM.Server.Pages.GameRoom.GameRoomModel
@{
    ViewData["Title"] = "GameRoom";
}


<table id="playerTable"></table>
<table id="parametersTable"></table>
<button id="startGame">Start Game</button>

<pre id="dump">dump</pre>
