
html, body {
    background: #3F88C5;
    padding-top: 30px;
    font-family: "Arial Black", Gadget, sans-serif;
    height: 100%;
}

.player {
    width: 25%;
    color: #032B43;
    text-align: center;
    background-color: #FCAB10;
    height: auto;
    min-width: 160px;
    height: 164px;
    box-shadow: 3px 3px 10px black;
}

.active {
    background-color: #136F63;
}

#board {
    background-color: #3F88C5;
    color: #032B43;
    text-align: center;
    height: 75%;
}

#game {
    width: 100%;
    height: 100%;
    border-spacing: 10px;
    border-collapse: separate;
}

.playerName {
    font-size: xx-large;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 8px;
    margin-bottom: 0px;
}

.deadPlayer {
    background-color: #D00000;
}

.playerLives {
    font-size: large;
}

.playerBet {
    font-size: xx-large;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.gameAction {
    background-color: #136F63;
    color: #032B43;
    border-width: 0px;
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
    box-shadow: 3px 3px 10px black;
}

.die {
    width: 25px;
    height: 25px;
    margin: 15px 5px 15px 5px;
    box-shadow: 3px 3px 10px black;
}

/*.dieTable {
    margin: 0 auto
}*/

.t1 {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

.t2 {
    font-size: large;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
}
